body {
 margin: 0;
 background-color: #23242a;
 color: white;
}

/*============Dash Background=====================*/
#banner {
    background: url(../Assets/dashBackground.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100lvh;
}
/*============Dash Background=====================*/

/* Style for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 60px;
  padding: 0 20px;
}

/* Style for the left menu */
.navbar-left {
  display: flex;
  align-items: center;
}

/* Style for the right menu */
.navbar-right {
  display: flex;
  align-items: center;
}

/* Style for the navbar links */
.navbar-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 15px;
}

/* Style for the navbar image */
.navbar-img {
  height: 70px;
  width: 70px;
}

.navbar-link:hover {
  cursor: pointer;
}
 
.navbar-middle{
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .box {
        width: 95%;
        max-width: 350px;
    }

    h2 {
        font-size: 1.2em;
    }

    .inputBox input {
        padding: 10px;
    }

    .inputBox span {
        padding: 10px 0px;
    }

    input[type="submit"] {
        padding: 10px 20px;
    }

    .links a {
        font-size: 0.9em;
    }
    .navbar-middle {
        display: none;
    }

    .navbar-img {
        height: 40px;
        width: 40px;
    }

    .navbar-planalyzer {
        display: none;
    }

    .navbar-link {
        font-size: 12px;
        margin: 0 5px;
    }

    .navbar {
        height: 50px;
        padding: 0 10px;
    }

    .navbar-left {
        margin-right: auto;
    }

    .navbar-right {
        margin-left: auto;
    }
}

/* Select Option */
.select_form {
  margin: 20px 0 20px 40px;
}


/* Tabs Section */
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #940000;
    text-align:center;
    width: 110px;
    height: 77vh;
    display: block;
    justify-content: center;
    margin-left: 30px;
    float: left;
    margin-right: 20px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin: 5px 0 5px 0;
    width: 110px;
    height: 120px;
    background: rgba(24,24,27,0.8);
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #b74040;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #a36b6b;
}

/* Style the tab content */
.tabcontent {
    display: none;
    /* border: 3px solid red; */
    width: auto;
}

.tab2 {
    overflow: hidden;
    border: 1px solid #940000;
    text-align:center;
    width: auto;
    height: 80vh;

    margin-right: 30px;
}

.tablinks {
    font-size: .8em;
    text-align: center;
    font-weight: bold;
    font-family: serif;
    color: black;
    font-weight: bold;
}

/*====================================================================*/
/*           Look AHEAD CSS starts here
/*====================================================================*/
.display-6{
    padding-left: 10px;
}

.toDo{
    background: rgba(24,24,27,0.8);
    display: flex;
    padding: 5px;
    color:whitesmoke;
    width: 100%;
    justify-content: auto;
}

/*======================Look Ahead code=========================*/
#col69 {
    float: left;
    width: 70%;
    height:7vh;
    background: rgba(24,24,27,0.8);
    color: white;

}
#col70 {
    float: right; 
    width: 30%;
    height:7vh;
    padding-top: 10px;
    background: rgba(24,24,27,0.8);
    color: white;
    /*border: 1px solid rgb(242, 118, 118);*/
}
.display-7{
    display:flex;
    padding-left: 20px;
    padding-top: 5px;
}

#weeks{
    display: inline-block;

}

#col1 {
    float: left;
    width: 70%;
    height: 43vh;
    background: rgba(24,24,27,0.8);
    color: white;

}

#col2 {
    float: left;
    width: 30%;
    height:43vh;
    background: rgba(24,24,27,0.8);
    color: white;

}
img{
    max-width: 60%;
}

/*=================Pie Chat========================*/

.chart-wrapper {
    width: auto;
    height: 42vh;
    margin: 0 auto;
  }
#pieChart{
    color: white;
}
/*===================scrolling option for table overflow======================*/

.table-container {
    height: 300px; /* set the height to a fixed value or a percentage */
    overflow-y: auto; /* set the overflow property to auto to add a scrollbar */
  }


/*======================Button=========================================*/
.button-container {
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 10px;
  }
  
  select {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    background-color: #690000;
    color: #fff;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #890000;
  }
/*==================Look AHead (api)=============================*/

.future-forecast{
    background: rgba(24,24,27,0.8);
    /*background: rgba(24,24,27,0.8);*/
    padding: 25px;
    position: sticky;
    top: 0;
    display: flex;
    color:white;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    height: 30vh;
}

.future-forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding:15px;
    padding-right: 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}

.future-forecast .today .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp{
    font-size: 18px;
    padding-top: 15px;
}

.future-forecast .weather-forecast{
    display: flex;
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
    font-size: 12px;
}


@media only screen and  (max-width:730px){
    
    .container{
        padding: 20px;
    }
    
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .future-forecast .today .temp{
        font-size: 16px;
    }

    .date-container .time{
        font-size: 50px;
    }

    .date-container #am-pm{
        font-size: 20px;
    }

    .date-container .date{
        font-size: 20px;
    }

    .place-container{
        text-align: end;
        margin-top: 15px;
    }

    .place-container .time-zone{
        font-size: 20px;
    }

    .current-info .others{
        padding: 12px;
    }

    .current-info .others .weather-item{
        font-size: 14px;
    }

}

/*====================================================================*/
/*           Look Ahead CSS ENDS here
/*====================================================================*/