@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.h3{
    padding-left: 15px;
}


body {
    margin: 0;
    background-color: #23242a;
    color: white;
}

/*============Dash Background=====================*/
#banner {
    background: url(../Assets/dashBackground.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100lvh;
}

/*============Dash Background=====================*/

/* Style for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 60px;

}

/* Style for the left menu */
.navbar-left {
    display: flex;
    align-items: center;
}

/* Style for the right menu */
.navbar-right {
    display: flex;
    align-items: center;
}

/* Style for the navbar links */
.navbar-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 15px;
}

/* Style for the navbar image */
.navbar-img {
    height: 50px;
    width: 50px;
}

.navbar-link:hover {
    cursor: pointer;
}

.navbar-middle {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .box {
        width: 95%;
        max-width: 350px;
    }

    h2 {
        font-size: 1.2em;
    }

    .inputBox input {
        padding: 10px;
    }

    .inputBox span {
        padding: 10px 0px;
    }

    input[type="submit"] {
        padding: 10px 20px;
    }

    .links a {
        font-size: 0.9em;
    }

    .navbar-middle {
        display: none;
    }

    .navbar-img {
        height: 40px;
        width: 40px;
    }

    .navbar-planalyzer {
        display: none;
    }

    .navbar-link {
        font-size: 12px;
        margin: 0 5px;
    }

    .navbar {
        height: 50px;
        padding: 0 10px;
    }

    .navbar-left {
        margin-right: auto;
    }

    .navbar-right {
        margin-left: auto;
    }
}

/* Select Option */
.select_form {
    padding: 20px;
    border-radius: 10px;
}


/* Tabs Section */
/* Style the tab */
.tab {
    overflow: hidden;
    /*border: 1px solid #940000;*/
    text-align: center;
    width: 15.5vh;
    height: 80vh;
    display: -moz-inline-box;
    justify-content: center;
    margin-left: 3vh;
    float: left;
    margin-right: 1vh;

}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: 1px solid #940000;
    outline: none;
    cursor: pointer;
    padding: 1vh 1vh;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin: 5px 0 5px 0;
    height: auto;
    max-width: 100%;
    background-color: #333;
    border-radius: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #8f0000;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #cb0000;
}

/* Style the tab content */
.tabcontent {
    display: none;
    /* border: 3px solid red; */
    width: auto;
}

.lookAheadIcon {
    border-radius: 4px;
    height: auto;
    max-width: 100%;
}

.infographicsIcon {
    border-radius: 4px;
    height: auto;
    max-width: 100%;
}

.gradeEntryIcon {
    border-radius: 4px;
    height: auto;
    max-width: 100%;
}

.courseInfoIcon {
    border-radius: 4px;
    height: auto;
    max-width: 100%;
}

.whatIfIcon {
    border-radius: 4px;
    height: auto;
    max-width: 100%;
}

.tab2 {
    overflow: hidden;
    border: 1px solid #940000;

    width: auto;
    height: 80vh;
    background: rgba(24, 24, 27, 0.8);
    margin-right: 30px;
    border-radius: 10px;
}

/*===========Empty section in Tab2 when tab != clicked */
.dashboardEmptySection {
    position: relative;
    padding: 10px;
    margin: 10px;
    height: 15vh;
    background: rgba(24, 24, 27, 0.8);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.dashboardEmptySection:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ccc;
}

.dashboardEmptySection:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-right: 10px solid #ccc;
}

.tablinks {
    font-size: .8em;
    text-align: center;
    font-weight: bold;
    font-family: serif;
    color: black;
    font-weight: bold;
}

/*====================================================================*/
/*           Look AHEAD CSS starts here
/*====================================================================*/
.display-6 {
    padding-left: 10px;
}

.toDo {
    background: rgba(24, 24, 27, 0.8);
    display: flex;
    padding: 5px;
    color: whitesmoke;
    width: 100%;
    justify-content: auto;
}

/*======================Look Ahead code=========================*/
#col69 {
    float: left;
    width: 70%;
    height: 7vh;
    background: rgba(24, 24, 27, 0.8);
    color: white;
    padding-top: 10px;
}

.container-col69 {
    display: flex;
    justify-content: space-between;

}

.col69-1 {
    max-width: 100px;
}

.col69-2{
    text-align: center;
}

.col69-3 {
    text-align: right;
}


#col70 {
    float: right;
    width: 30%;
    height: 7vh;
    padding-top: 10px;
    background: rgba(24, 24, 27, 0.8);
    color: white;
    /*border: 1px solid rgb(242, 118, 118);*/
    text-align: center;

}

.display-7 {
    display: flex;
    padding-left: 20px;
    padding-top: 5px;

}

#weeks {
    display: inline-block;

}

#col1 {
    float: left;
    width: 70%;
    height: 43vh;
    background: rgba(24, 24, 27, 0.8);
    color: white;

}

#col2 {
    float: left;
    width: 30%;
    height: 43vh;
    background: rgba(24, 24, 27, 0.8);
    color: white;

}

img {
    max-width: 60%;
}

/*=================Pie Chat========================*/

.chart-wrapper {
    width: auto;
    height: 42vh;
    display: flex;
    justify-content: center;
}

#pieChart {
    color: white;
}

/*===================scrolling option for table overflow======================*/

.table-container {
    height: 43vh;
    padding-left: 20px;
    text-align: center;
    /* set the height to a fixed value or a percentage */
    overflow-y: auto;
    /* set the overflow property to auto to add a scrollbar */
}


/*======================Button=========================================*/
.button-container {

    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;

}

select {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    background-color: #cb0000;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: #890000;
}

/*==================Look AHead (api)=============================*/

.future-forecast {
    background: rgba(24, 24, 27, 0.8);
    /*background: rgba(24,24,27,0.8);*/
    padding: 25px;
    position: sticky;
    top: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    height: 30vh;

}

.future-forecast .today {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
    padding-right: 40px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2)
}

.future-forecast .today .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp {
    font-size: 18px;
    padding-top: 15px;
}

.future-forecast .weather-forecast {
    display: flex;
}

.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2)
}

.weather-forecast .weather-forecast-item .day {
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp {
    font-weight: 100;
    font-size: 12px;
}


@media only screen and (max-width:730px) {

    .container {
        padding: 20px;
    }

    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .future-forecast .today .temp {
        font-size: 16px;
    }

    .date-container .time {
        font-size: 50px;
    }

    .date-container #am-pm {
        font-size: 20px;
    }

    .date-container .date {
        font-size: 20px;
    }

    .place-container {
        text-align: end;
        margin-top: 15px;
    }

    .place-container .time-zone {
        font-size: 20px;
    }

    .current-info .others {
        padding: 12px;
    }

    .current-info .others .weather-item {
        font-size: 14px;
    }

}

/*=====================Look ahead table========================*/

#tableLookAhead {
    height: 43vh;
}









/*====================================================================*/
/*           Look Ahead CSS ENDS here
/*====================================================================*/



/*====================================================================*/
/*           Inforgraphics CSS starts here
/*====================================================================*/

.infotabTopLeft {
    width: 65%;
    height: 7.5vh;
    float: left;
    align-self: left;
}

.infotabBottomLeft {
    float: left;
    overflow: hidden;
    /*border: 1px solid #940000;*/
    width: 65%;
    height: 7.5vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.courseHeading {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.infotabRight {
    text-align: center;
    width: 35%;
    height: 15vh;
    justify-content: space-between;
    float: right;
    padding-top: 10px;
}

#infoColumn {
    float: left;
    width: 100%;
    height: 65vh;
    background: rgba(24, 24, 27, 0.8);
    color: white;
}

#infoColumn1 {
    overflow-y: auto;
    float: left;
    width: 33.33%;
    height: 65vh;
    color: white;

}

#infoColumn2 {
    float: left;
    width: 33.33%;
    height: 65vh;
    color: white;
    padding-right: 30px;

}

#infoColumn3 {
    float: left;
    width: 33.33%;
    height: 65vh;
    color: white;

}

.pieChartSize {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.barChartSize {
    width: auto;
    height: 60vh;
    margin: 0 auto;
    padding-left: 20px;

}

#pieChartInfo {
    width: 100%;
    height: 100%;
}

.table-containerInfo {
    height: 60vh;
    /* set the height to a fixed value or a percentage */
    overflow-y: auto;
    /* set the overflow property to auto to add a scrollbar */
}

.tablinks {
    background-color: #a1a1a1;
    border-color: black;
    border-bottom: none;
    padding: 10px 50px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.tablinks:hover {
    background-color: #ff7373;
}


/*====================================================================*/
/*           Inforgraphics CSS ends here
/*====================================================================*/

/*====================================================================*/
/*           GradeEntry CSS starts here
/*====================================================================*/

.gradeEntryTabTopLeft {
    width: 65%;
    height: 7.5vh;
    float: left;
    align-self: left;


}

.gradeEntryTabBottomLeft {
    float: left;
    overflow: hidden;
    /*border: 1px solid #940000;*/
    width: 65%;
    height: 7.5vh;
}

.container-gradeEntry {
    display: flex;
    flex-wrap: wrap;
    height: 7.5vh;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 20px;
}

.container-submitButton {
    display: flex;
    flex-wrap: wrap;
    height: 13vh;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;
}

.courseHeading {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;

}

.gradeEntryTabRight {
    width: 35%;
    height: 15vh;
    float: right;

}

#pastGradeEntryColumn {
    float: left;
    width: 100%;
    height: 20vh;
    color: white;
    background: rgba(24, 24, 27, 0.8);
    overflow-y: auto;

}

#gradeEntryColumn {
    float: left;
    width: 100%;
    height: 45vh;
    color: white;
    background: rgba(24, 24, 27, 0.8);
}

#gradeEntryColumn1 {

    float: left;
    width: 16.67%;
    height: 45vh;
    color: white;

    overflow-y: auto;

}

#gradeEntryColumn2 {
    float: left;
    width: 16.67%;
    height: 45vh;
    color: white;

    overflow-y: auto;

}

#gradeEntryColumn3 {
    float: left;
    width: 16.67%;
    height: 45vh;
    color: white;

    overflow-y: auto;

}

#gradeEntryColumn4 {
    float: left;
    width: 16.67%;
    height: 45vh;
    color: white;

    overflow-y: auto;

}

#gradeEntryColumn5 {
    float: left;
    width: 16.67%;
    height: 45vh;
    color: white;

    overflow-y: auto;

}

#gradeEntryColumn6 {
    float: left;
    width: 16.65%;
    height: 45vh;
    color: white;

    overflow-y: auto;

}

.form-group {
    max-width: 160px;
    padding-left: 50px;
}

.recentFormSize {
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
}

.h5 {
    padding-top: 10px;
    padding-left: 10px;
}

/*====================================================================*/
/*           GradeEntry CSS ends here
/*====================================================================*/

.courseInfoContainer {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 100px;
    height: 80vh;
    padding: 20px;
    overflow-y: auto;

}

.course-square {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    transition: all 0.3s ease;
    background: rgba(24, 24, 27, 0.8);
}

.course-square span {
    padding-top: 50px;
}

.course-square:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.added-course {
    background: rgba(24, 24, 27, 0.8);
}

.added-course:hover .edit-button,
.added-course:hover .delete-button {
    display: block;
}

.added-course .edit-button,
.added-course .delete-button {
    display: none;
    position: absolute;
    top: 5px;
    width: 50px;
    height: 30px;
    background-color: #f34a4a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.added-course .edit-button {
    right: 60px;
}

.added-course .delete-button {
    right: 5px;
}

.added-course i {
    font-size: 100px;
    padding-top: 50px;
}

.fa-plus {
    font-size: 100px;
}

.added-course span {
    font-size: 16px;
    margin-top: auto;
}

.add-course-paragraph {
    padding-top: 50px;
}

/*====================================================================*/
/*           CourseInfo CSS ends here
/*====================================================================*/

/*====================================================================*/
/*           WhatIf CSS starts here
/*====================================================================*/
#whatIfColumn1 {
    overflow-y: auto;
    float: left;
    width: 60%;
    height: 65vh;
    color: white;
}

#whatIfColumn2 {
    float: left;
    width: 40%;
    height: 65vh;
    color: white;
  
    flex-direction: row;
    text-align: center;
    overflow-y: auto;

}

.custom-range {
    width: 90%;
}

.whatIfcontainer {
    max-width: 95%;
    padding-left: 50px;
    padding-top: 50px;
}

#scoreValue {
    padding-left: 30px;

}

.scrollbar {
    padding-top: 50px;
    padding-left: 50px;
}

.whatIfGradeImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatIfGradeBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatIfGradeBoxValue {
    text-align: center;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    height: auto;
    width: 200px;
}


/*==============================================
=================PRE-LOADER=====================
==============================================*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(46, 46, 46);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-bottom: 1rem;
    text-align: center;
}

.progress {
    width: 100%;
    margin-top: 5rem;
}

/*===============================================*/
.dashtext {
    padding-top: 40px;
    padding-left: 20px;

}