body{
  background: linear-gradient(to top, rgb(0,0,0,0.0) 50%,#234c6b) 10%, url(../../../Assets/background.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: auto;
  color: white;
}

.container{
  width: 400px;
}



label{
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 1px solid white;
}
