@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.font-color{
  color: white;
}
#banner {
  background: url(../../../Assets/dashBackground.gif);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.gradingScale {
  display: flex;
  justify-content:flex-start;
  width: 500px;
  height: 300px;
  overflow-y: auto;
}
.gradescaleImage1{
  max-width: 200px;
  padding-right: 5px;
}

.container-gradingScaleBox {
  width: 500px;
  height: 300px;
  align-self: center;

}

.customGradingScale {
  display: none;
}


#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.box {
  position: relative;
  width: 600px;
  height: 700px;
  background: rgba(24, 24, 27);
  border-radius: 8px;
  overflow: hidden;
}

.box::before {
  content: '';
  z-index: 1;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 600px;
  height: 700px;
  transform-origin: bottom right;
  background: linear-gradient(0deg, transparent, red, red);
  animation: animate 6s linear infinite;
}

.box::after {
  content: '';
  z-index: 1;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 600px;
  height: 700px;
  transform-origin: bottom right;
  background: linear-gradient(0deg, transparent, red, red);
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

.courseFromTextColor {
  color: white;
}

h6 {
  color: white;
}

label {
  color: white;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#animated {
  position: absolute;
  inset: 2px;
  background: rgba(24, 24, 27, 0.98);
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 5px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.button {
  border: none;
  outline: none;
  padding: 11px 25px;
  background: red;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  width: 100px;
  margin-top: 10px;
}

.button:hover {
  opacity: 0.8;
}

.emailUpdate{
  padding-top: 20px;
}

/* Style for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 60px;

}

/* Style for the left menu */
.navbar-left {
  display: flex;
  align-items: center;
}

/* Style for the right menu */
.navbar-right {
  display: flex;
  align-items: center;
}

/* Style for the navbar links */
.navbar-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 15px;
}

/* Style for the navbar image */
.navbar-img {
  height: 50px;
  width: 50px;
}

.navbar-link:hover {
  cursor: pointer;
}

.navbar-middle {
  display: flex;
  align-items: center;
}